@{
    ViewData["Title"] = "Index";
}

<h2><i class="glyphicon glyphicon-user"></i> Get Employee(s)</h2>

<div class="panel panel-primary">
    <div class="panel-heading">enter an ID to consult an employee otherwise leave it empty</div>
    <div class="panel-body">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="form-group">
                @Html.Label("Employee Id:","", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input id="EmployeeID" name="EmployeeID" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" class="btn btn-primary" id="GetEmployees" value="Get" onclick="GetEmployees()">
                </div>
            </div>
        </div>

    </div>
</div>
<table id="tblEmployees" name="tblEmployees" class="table table-striped table-hover table-responsive table-condensed">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Contract Type Name</th>
            <th>Role Id</th>
            <th>Role Name</th>
            <th>Role Description</th>
            <th>Value Monthly/Hourly</th>
            <th>Year Salary</th>
        </tr>
    </thead>
    <tbody id="employees"></tbody>
</table>
<script type="text/javascript">

    function formatCurrencyCO(value)
    {
        return new Intl.NumberFormat("es-CO",
            {
                style: "currency",
                currency: "COP",
                minimumFractionDigits: 0
            }).format(value);
    }

    function GetEmployees() {
        var id = $("#EmployeeID").val().trim();
        console.log("El id obtenido es: " + id);
        var service = "";
        if (id === "") {
            service = "/api/EmployeeApi";
        } else {
            service = "/api/EmployeeApi/" + id;
        }
        $.ajax({
            url: service,
            type: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                
                if (data) {
                    var value;
                    var row = "";
                    if (!id) {
                        $.each(data,
                            function (index, item) {
                                if (item.contractTypeName == "HourlySalaryEmployee")
                                    value = "value x hour " + formatCurrencyCO(item.value);
                                else
                                    value = "value x month " + formatCurrencyCO(item.value);
                                row += "<tr><td>" +
                                    item.id +
                                    "</td><td>" +
                                    item.name +
                                    "</td><td>" +
                                    item.contractTypeName +
                                    "</td><td>" +
                                    item.roleId +
                                    "</td><td>" +
                                    item.roleName +
                                    "</td><td>" +
                                    item.roleDescription +
                                    "</td><td  style='text-align: right'>" +
                                    value+
                                    "</td><td  style='text-align: right'>" +
                                    formatCurrencyCO(item.yearSalary)+
                                    "</td></tr>";
                            });
                    }
                    else {
                        if (data.contractTypeName == "HourlySalaryEmployee")
                            value = "value x hour " + formatCurrencyCO(data.value);
                        else
                            value = "value x month " + formatCurrencyCO(data.value);
                        row += "<tr><td>" +
                            data.id +
                            "</td><td>" +
                            data.name +
                            "</td><td>" +
                            data.contractTypeName +
                            "</td><td>" +
                            data.roleId +
                            "</td><td>" +
                            data.roleName +
                            "</td><td>" +
                            data.roleDescription +
                            "</td><td  style='text-align: right'>" +
                            value +
                            "</td><td  style='text-align: right'>" +
                            formatCurrencyCO(data.yearSalary) +
                            "</td></tr>";

                    }
                    $("#employees").html(row);
                }
                else {
                    $("#employees").html("");
                    alert("No data to show.");
                }
            },
            error: function (result) {
                alert("Error Getting Employees. Review your data and try again.");
            }
        });
    }
</script>
